{lib_dirs, ["deps"]}.

{pre_hooks, [{compile, "./scripts/json_compile"}]}.

{
  deps, [
    {misultin, ".*", {git, "git://github.com/ostinelli/misultin.git"}},
    {erlydtl, ".*", {git, "git://github.com/evanmiller/erlydtl.git"}},
    {json, ".*", {git, "git://github.com/hio/erlang-json.git"}}
  ]
}.
